#snapchat:link, #snapchat:visited {
  background-color: #fffc00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#snapchat:hover, #snapchat:active {
  background-color: #FFFC50;
}

#discord:link, #discord:visited {
  background-color: #4c57d2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#discord:hover, #discord:active {
  background-color: #5865f2;
}

#instagram:link, #instagram:visited {
  background-color: #dfd193;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#instagram:hover, #instagram:active {
  background-color: #f5ff7b;
}

#steam:link, #steam:visited {
  background-color: #1b2838;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#steam:hover, #steam:active {
  background-color: #2a475e;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}


#footer {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	color: white;
}

